page-login {
  #app-description {
    color: color($colors, primary);
    width: 100%;
  }

  .after-login-buttons p {
    color: color($colors, primary);
  }
  .after-login-buttons p#registrate {
    color: color($colors, danger);
  }
}
