<ion-menu [content]="content">
  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item class="profile">
        {{current_user.name}}
        <hr>
        ({{current_user.ddd}}){{current_user.phone_number}}
      </button>
      <button menuClose ion-item item-start class="menuItem" *ngFor="let p of pages" (click)="isExternalLink(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{p.title}}
        <ion-badge right *ngIf="!!p.hasBadge && contact_requests_size > 0">
          {{p.hasBadge}}
        </ion-badge>
      </button>
      <hr>
      <button menuClose ion-item item-start class="menuItem" (click)="inviteFacebookFriends()">
        <ion-icon name="mail"></ion-icon>
        Convide amigos do Facebook
      </button>
      <button menuClose ion-item item-start class="menuItem" (click)="presentConfirm()">
        <ion-icon name="log-out"></ion-icon>
        Sair
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
