page-notifications {
  .notification-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .notifications ion-item {
    border: 1px solid color($colors, primary);
  }
}
